
body {
    font-family: Raleway;
    margin-left: 15px;
    text-align: left;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    color: #111D13;
    padding: 20px;
    text-align: center;
}


h1, h2 {
    color: #111D13;
    text-align: center;
}

section {
    margin: 20px;
    background-color: white;
}




nav#navbar {
    background-color: #A1CCA5;
    overflow: hidden;
}

nav#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav#navbar ul li {
    display: inline-block; 
    margin-right: 20px;
}

nav#navbar ul li a {
    text-decoration: none;
    color: #111D13;
    padding: 14px 16px;
    display: block; 
}

.kuva {
    max-width: 100%;
    width: 100%;
    height: auto !important;
}



@media (max-width:767px) {
    .kuva {
        max-width: 100%;
        max-height: 100%;
    }
}

@media (min-width:768px) {
    .kuva {
        max-width: 240px;
        max-height: 240px;
    }
}

@media (min-width:992px) {
    .kuva {
        max-width: 314px;
        max-height: 314px;
    }
}

@media (min-width:1200px) {
    .kuva {
        max-width: 380px;
        max-height: 380px;
    }
}


