
body {
    font-family: Raleway;
    margin-left: 15px;
    text-align: left;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    color: #111D13;
    padding: 20px;
    text-align: center;
}


h1, h2 {
    color: #111D13;
    text-align: center;
}

section {
    width:90%;
    margin:auto;
    background-color: #f4f4f4;
}

.content{
    width:90%;
    margin:auto;
    background-color: #f4f4f4;
    font-size: 16px;
    
}


nav#navbar {
    background-color: #A1CCA5;
    overflow: hidden;
}

nav#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav#navbar ul li {
    display: inline-block; 
    margin-right: 20px;
}

nav#navbar ul li a {
    text-decoration: none;
    color: #111D13;
    padding: 14px 16px;
    display: block; 
}

.kuva {
    max-width: 80%;
    width: 80%;
    height: auto !important;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

@media (max-width:767px) {
    .column {
        width: 100%;
      }
    
}

@media (min-width:768px) {
    .kuva {
        width: 40%;
        max-width: 40%;
        height: auto;
    }
}

@media (min-width:992px) {
    .kuva {
        width: 30%;
        max-width: 30%;
        height:auto;
    }
}

@media (min-width:1200px) {
    .kuva {
        width: 20%;
        max-width: 20%;
        height:auto;
    }
}


